* {
  margin: 0;
  box-sizing: border-box;
}

body,
html,
head {
  max-width: 100vw;
  align-items: center;
  color: #dfdce3;
  background-color: #4484ce;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  border-radius: 20px;
  @media screen and (max-width: 1000px) {
    width: max(70vw, 50vh);
    max-width: 90vw;
    margin-bottom: 10vw;
  }
  @media screen and (min-width: 999px) {
    width: 30vw;
    max-height: 60vh;
  }
}

h1 {
  font-size: max(5vh, 5vw);
  max-width: 80vw;
  text-align: start;
  margin: 0;
}

section {
  width: 90vw;
  margin-bottom: 5vh;
  padding: min(5vw, 5vh);

  > h2 {
    color: #f78800;
    font-size: max(3vh, 3vw);
    margin-bottom: 4vh;
  }

  > p {
    margin-bottom: 3.5vh;
    text-align: start;
    font-size: max(2.5vh, 2vw);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-evenly;

    .btn {
      width: 200px;
      max-width: 40vw;
      aspect-ratio: 3.5/1;
      background: linear-gradient(to top, #34187f, #12376e, #23487f);
      color: #ffffff;
      border-radius: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      letter-spacing: 1px;
      overflow: hidden;
      text-transform: uppercase;
      font-size: max(1.75vh, 1.25vw);
    }

    .btn span {
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: top 0.5s;
    }

    #btn-text-one {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    #btn-text-two {
      position: absolute;
      width: 100%;
      top: 150%;
      left: 0;
      transform: translateY(-50%);
    }

    .btn:touch-action .btn-text-one {
      top: -100%;
    }

    .btn:touch-action .btn-text-two {
      top: 50%;
    }
  }

  > ul {
    list-style: circle;

    > li {
      font-size: max(2.5vh, 2vw);

      > b {
        color: rgb(96, 255, 255);
      }
    }
  }

  > ul#per {
    list-style: radial-gradient(
      rgb(111, 255, 0) 15%,
      rgb(59, 144, 255) 50%,
      transparent 50% 100%
    );

    > li {
      font-size: max(2.5vh, 2vw);
    }
  }
  > h5 {
    font-size: max(2.5vh, 2vw);
    margin-left: 2.5%;
  }
  > #circles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    .circle {
      background-clip: border-box;
      @media screen and (max-width: 1000px) {
        width: 70vw;
      }
      .dep {
        font-size: max(2.5vh, 2vw);
        font-family: "Poppins", sans-serif !important ;
        display: flex;
        margin-top: 2.5vh;
        align-items: center;
        @media screen and (min-width: 1000px) {
          flex-direction: column;
          justify-content: space-between;
        }
        .des {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          border-style: solid;
          border-width: thick;
          border-color: aliceblue;
          background-clip: border-box;
          @media screen and (min-width: 1000px) {
            width: 70%;
          }
          @media screen and (max-width: 1000px) {
            width: 25%;
          }
          min-width: max(10vw, 10vh);
          aspect-ratio: 1;
          border-radius: 50%;
          font-size: max(3.5vh, 3vw);
        }
        > h5 {
          padding: 10% 0;
          font-size: max(2.5vh, 2vw);
          @media screen and (max-width: 1000px) {
            padding: 10% 15%;
          }
        }
      }
    }
  }
}

#about {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #d7ad00;
  color: #23487f;
  @media screen and (min-width: 1000px) {
    width: 40vw;
    max-height: 60vh;
  }
  > p {
    font-size: max(2vh, 1.25vw);
    text-align: justify;
  }
  >ul>li>b{
    color: #0081ac;
  }
}

#land {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

svg#pl {
  position: absolute;
  width: min(15vw, 15vh);
  aspect-ratio:1 ;
  background-color: #4484ce ;
  transform: rotate(180deg) translateX(min(15vh, 15vw));
}

.load {
  border-width: thick;
  border-style: solid;
  animation: loader 6s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    border-left-color: #f7b733;
    border-top-color: none;
    border-bottom-color: none;
    border-right-color: none;
  }

  35% {
    border-left-color: #f7b733;
    border-top-color: #f7b733;
    border-bottom-color: none;
    border-right-color: none;
  }

  70% {
    border-left-color: #f7b733;
    border-top-color: #f7b733;
    border-bottom-color: none;
    border-right-color: #f7b733;
  }

  100% {
    border-right-color: #f7b733;
    border-top-color: #f7b733;
    border-bottom-color: #f7b733;
    border-left-color: #f7b733;
  }
}

hr {
  transform-origin: 0;
  transform: rotate(90deg) translateY(min(7vh, 7vw));
  background-color: #f7a700;
  border: 0;
  z-index: -1;
  height: 5px;
}
.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

ul#sy {
  list-style: none;
}
